<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
 <h1>List of Employees</h1>

<table class="table">
    <tr>
        <th>Emp No</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="employee, iStat : ${employeePage}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
         th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td><a th:href="@{/employee/{id}(id=${employee.empNo})}" th:text="${employee.empNo}"></a></td>
        <td th:text="${employee.firstName}"></td>
        <td  th:text="${employee.lastName}"></td>
    </tr>
</table>

    <nav aria-label="Pagination" th:if="${employeePage.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item">
                <a class="page-link svg-icon" th:href="@{/employee?page={id}(id=${(employeePage.getTotalPages() - employeePage.getTotalPages()) + 1})}">
                    <span> |< </span>
                </a>
            </li>
            <li class="page-item" th:classappend="${employeePage.number eq 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/employee?page={id}(id=${employeePage.number lt 2 ? 1 : employeePage.number})}">
                    <span> Previous</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${i eq employeePage.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( employeePage.number + 1, employeePage.totalPages > 10 + employeePage.number ? employeePage.number + 10 : employeePage.totalPages, 1)}">
                <a class="page-link" th:href="@{/employee?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}"></a>
            </li>


            <li class="page-item" th:classappend="${employeePage.number + 1 eq employeePage.totalPages} ? 'disabled'">
                <a class="page-link svg-icon" th:href="@{/employee?page={id}(id=${employeePage.number + 2})}">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"> Next </span>
                </a>
            </li>


            <li class="page-item">
                <a class="page-link svg-icon" th:href="@{/employee?page={id}(id=${employeePage.getTotalPages()})}">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"> >| </span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="text-center text-uppercase">
    <span th:text="${employeePage.getNumber() +1}"></span>
        <span>Of</span>
        <span th:text="${employeePage.getTotalPages()}"></span>
    </div>
</div>
</body>
</html>